block scripts
  script(src='/scripts/jquery.min.js')
  script(src='/scripts/moment.min.js')
  script(src='/scripts/Chart.min.js')
  script(src='/scripts/bootstrap.min.js')
  script(src='/scripts/app.js')